<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oboard.purer">
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".MainReceiver"
            android:enabled="true" 
            android:exported="true">
            <!-- enabled:使这个广播接收器可用 -->
            <!-- exported:允许这个广播接收器接受其他程序的广播 -->
            <intent-filter android:priority="1000">
                <action android:name="com.oboard.purer.api"></action>
            </intent-filter>
        </receiver>
        
        <receiver android:name="BootBroadcastReceiver">  
            <intent-filter>  
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>  
                <category android:name="android.intent.category.LAUNCHER" />  
            </intent-filter>  
        </receiver>
        
        <meta-data
            android:name="purermodule"
            android:value="on" />
        <meta-data
            android:name="purerdescription"
            android:value="框架管理器" />
        <meta-data
            android:name="purerminversion"
            android:value="0" />
        
    </application>

</manifest>
