<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/i"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity-alias
            android:name=".MainActivity"
            android:enabled="true"
            android:icon="@drawable/i"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
     
        <service
            android:name=".PurerService"
            android:enabled="true"  
            android:exported="true"/>
        
        <activity
            android:name=".SettingsDiglog"
            android:theme="@android:style/Theme.Material.Light.Dialog"/>

        <activity
            android:name=".ic2"/>

        <activity-alias
            android:name=".ic2"
            android:enabled="false"
            android:icon="@drawable/i2"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <meta-data
            android:name="purermodule"
            android:value="on" />
        <meta-data
            android:name="purerdescription"
            android:value="框架管理器" />
        <meta-data
            android:name="purerminversion"
            android:value="0" />
        
    </application>

</manifest>
